 body{
  background-color: rgb(151, 231, 231);
 }
 
 #container{
  align-items:flex-start
  border:center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(189, 175, 238);
    padding: 10px;
    width: 25%;
    display: inline-block;
     overflow:hidden;
     border-radius:20px;
     min-height:250px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    margin: 5px 20px;
 }

    .card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(189, 175, 238);
    padding: 10px;
    width: 25%;
    display: inline-block;
     overflow:hidden;
     border-radius:20px;
     min-height:250px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    margin: 5px 20px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(104, 100, 100, 0.2);
  }
  button{
    color: rgb(221, 232, 241);
    background-color: rgb(84, 84, 231);
    font-size: medium;
    border-radius: 5px;
    margin-top: px;
    text-align:right;
  }